html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    vertical-align: top;
}
a {
    text-decoration: none;
    outline: 0;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
#fp-nav {
    display: none;
}
#fullpage>div {
    position: relative;
}
#gnb {
    width: 44px;
    height: 43px;
    background: url("../img/common/main/menu.png") no-repeat left top;
    position: fixed;
    left: 80px;
    top: 80px;
    z-index: 999999;
}
#nav {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 1863px;
    top: 399px;
    z-index: 9999;
}
#nav>li {
    width: 57px;
    height: 1px;
    background: url("../img/common/main/navi02_03.png") no-repeat left top;
    margin-bottom: 29px;
    transition: all .7s;
}
#nav>li:hover {
    background: url("../img/common/main/navi_hover_03.png") no-repeat left top;
}
#nav>li.on {
    background: url("../img/common/main/navi_hover_03.png") no-repeat left top;
}
#nav>li>a {
    display: block;
    width: 100%;
    height: 100%}
#layerPopup {
    width: 100%;
    height: 100%;
    background: url("../img/common/menu/bg.png") no-repeat left top;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    transition: left 1s;
}
#layerPopup .portfolio {
    width: 13px;
    height: 108px;
    background: url("../img/common/menu/porfolio_10_03.png") no-repeat left top;
    position: absolute;
    left: 80px;
    top: 439px;
    z-index: 9999;
}
#layerPopup .number {
    width: 21px;
    height: 520px;
    background: url("../img/common/menu/number_11.png") no-repeat left top;
    position: absolute;
    left: 671px;
    top: 270px;
    z-index: 9999;
}
#layerPopup .home {
    width: 139px;
    height: 36px;
    background: url("../img/common/menu/home.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 168px;
    z-index: 9999;
    transition: all .7s;
}
#layerPopup .home:hover {
    width: 139px;
    height: 36px;
    background: url("../img/common/menu/home_hover_03.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 168px;
    z-index: 9999;
}
#layerPopup .home.on {
    background: url("../img/common/menu/home_hover_03.png") no-repeat left top;
}
#layerPopup .bladerunner {
    width: 505px;
    height: 35px;
    background: url("../img/common/menu/contents_03.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 270px;
    z-index: 9999;
    transition: all .7s;
}
#layerPopup .bladerunner.on {
    background: url("../img/common/menu/contents_hover/hover_03.png") no-repeat left top;
}
#layerPopup .bladerunner:hover {
    width: 505px;
    height: 35px;
    background: url("../img/common/menu/contents_hover/hover_03.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 270px;
    z-index: 9999;
}
#layerPopup .lotteweb {
    width: 474px;
    height: 35px;
    background: url("../img/common/menu/contents_06.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 371px;
    z-index: 9999;
    transition: all .7s;
}
#layerPopup .lotteweb.on {
    background: url("../img/common/menu/contents_hover/hover_06.png") no-repeat left top;
}
#layerPopup .lotteweb:hover {
    width: 474px;
    height: 35px;
    background: url("../img/common/menu/contents_hover/hover_06.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 371px;
    z-index: 9999;
}
#layerPopup .lotteapp {
    width: 465px;
    height: 35px;
    background: url("../img/common/menu/contents_09.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 472px;
    z-index: 9999;
    transition: all .7s;
}
#layerPopup .lotteapp.on {
    background: url("../img/common/menu/contents_hover/hover_09.png") no-repeat left top;
}
#layerPopup .lotteapp:hover {
    width: 465px;
    height: 35px;
    background: url("../img/common/menu/contents_hover/hover_09.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 472px;
    z-index: 9999;
}
#layerPopup .missha {
    width: 356px;
    height: 35px;
    background: url("../img/common/menu/contents_12.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 574px;
    z-index: 9999;
    transition: all .7s;
}
#layerPopup .missha.on {
    background: url("../img/common/menu/contents_hover/hover_12.png") no-repeat left top;
}
#layerPopup .missha:hover {
    width: 356px;
    height: 35px;
    background: url("../img/common/menu/contents_hover/hover_12.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 574px;
    z-index: 9999;
}
#layerPopup .nike {
    width: 285px;
    height: 34px;
    background: url("../img/common/menu/contents_15.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 675px;
    z-index: 9999;
    transition: all .7s;
}
#layerPopup .nike.on {
    background: url("../img/common/menu/contents_hover/hover_15.png") no-repeat left top;
}
#layerPopup .nike:hover {
    width: 285px;
    height: 34px;
    background: url("../img/common/menu/contents_hover/hover_15.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 675px;
    z-index: 9999;
}
#layerPopup .agoda {
    width: 351px;
    height: 35px;
    background: url("../img/common/menu/contents_18.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 776px;
    z-index: 9999;
    transition: all .7s;
}
#layerPopup .agoda.on {
    background: url("../img/common/menu/contents_hover/hover_18.png") no-repeat left top;
}
#layerPopup .agoda:hover {
    width: 351px;
    height: 35px;
    background: url("../img/common/menu/contents_hover/hover_18.png") no-repeat left top;
    position: absolute;
    left: 744px;
    top: 776px;
    z-index: 9999;
}
#layerPopup .close {
    width: 46px;
    height: 46px;
    background: url("../img/common/menu/close_03.png") no-repeat left top;
    position: absolute;
    left: 79px;
    top: 79px;
    cursor: pointer;
    z-index: 9999;
}
#gnb>a {
    display: block;
    width: 100%;
    height: 100%}
#layerPopup>div>a {
    display: block;
    width: 100%;
    height: 100%}
#section01 {
    background: url("../img/common/main/bg01.png")no-repeat center top;
}
#section01 .copy_right {
    width: 334px;
    height: 18px;
    background: url("../img/common/main/copyright.png") no-repeat left top;
    position: absolute;
    left: 1489px;
    top: 886px;
}
#section01 .leftside {
    width: 13px;
    height: 108px;
    background: url("../img/common/main/leftside_03.png") no-repeat left top;
    position: absolute;
    left: 80px;
    top: 439px;
}
#section01 .title .hello {
    width: 280px;
    height: 103px;
    position: absolute;
    left: 684px;
    top: 330px;
    background: url("../img/common/main/hello_03.png") no-repeat left top;
    opacity: 0;
    transition: all 1s;
    transform: translate(0, 50px);
}
#section01 .title.on .hello {
    opacity: 1;
    transform: translate(0, 0);
}
#section01 .line {
    width: 333px;
    height: 1px;
    position: absolute;
    left: 989px;
    top: 427px;
}
#section01 .line>div {
    transition: all 1s;
    position: absolute;
}
#section01 .line>div:nth-child(1) {
    left: 0;
    top: 0;
    width: 0;
    height: 1px;
    background: url("../img/common/main/text_07.png") no-repeat left top;
}
#section01 .line.on>div:nth-child(1) {
    width: 333px;
    transition-delay: 1s;
}
#section01 .sentence>div {
    height: 17px;
    position: absolute;
    top: 397px;
}
#section01 .sentence .text01 {
    width: 10px;
    background: url("../img/common/main/sentence/word_03.png") no-repeat left top;
    left: 1106px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text01 {
    opacity: 1;
    transform: translate(0, 0);
}
#section01 .sentence .text02 {
    width: 2px;
    background: url("../img/common/main/sentence/word_05.png") no-repeat left top;
    left: 1118px;
    opacity: 0;
    transition: all 1s;
    transform: translate(30, 0);
}
#section01 .sentence.on .text02 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .1s;
}
#section01 .sentence .text03 {
    width: 10px;
    background: url("../img/common/main/sentence/word_07.png") no-repeat left top;
    left: 1127px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text03 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .2s;
}
#section01 .sentence .text04 {
    width: 10px;
    background: url("../img/common/main/sentence/word_09.png") no-repeat left top;
    left: 1138px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text04 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .3s;
}
#section01 .sentence .text05 {
    width: 13px;
    background: url("../img/common/main/sentence/word_11.png") no-repeat left top;
    left: 1154px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text05 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .4s;
}
#section01 .sentence .text06 {
    width: 16px;
    background: url("../img/common/main/sentence/word_13.png") no-repeat left top;
    left: 1168px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text06 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .5s;
}
#section01 .sentence .text07 {
    width: 14px;
    background: url("../img/common/main/sentence/word_14.png") no-repeat left top;
    left: 1184px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text07 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .6s;
}
#section01 .sentence .text08 {
    width: 13px;
    background: url("../img/common/main/sentence/word_16.png") no-repeat left top;
    left: 1201px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text08 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .7s;
}
#section01 .sentence .text09 {
    width: 16px;
    background: url("../img/common/main/sentence/word_18.png") no-repeat left top;
    left: 1220px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text09 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .8s;
}
#section01 .sentence .text10 {
    width: 15px;
    background: url("../img/common/main/sentence/word_19.png") no-repeat left top;
    left: 1236px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text10 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .9s;
}
#section01 .sentence .text11 {
    width: 15px;
    background: url("../img/common/main/sentence/word_21.png") no-repeat left top;
    left: 1252px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text11 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 1s;
}
#section01 .sentence .text12 {
    width: 13px;
    background: url("../img/common/main/sentence/word_23.png") no-repeat left top;
    left: 1273px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text12 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 1.1s;
}
#section01 .sentence .text13 {
    width: 12px;
    background: url("../img/common/main/sentence/word_25.png") no-repeat left top;
    left: 1289px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text13 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 1.2s;
}
#section01 .sentence .text14 {
    width: 15px;
    background: url("../img/common/main/sentence/word_27.png") no-repeat left top;
    left: 1304px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text14 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 1.3s;
}
#section01 .sentence .text15 {
    width: 2px;
    background: url("../img/common/main/sentence/word_29.png") no-repeat left top;
    left: 1320px;
    opacity: 0;
    transition: all 1s;
    transform: translate(20, 0);
}
#section01 .sentence.on .text15 {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 1.4s;
}
#section01 .orange {
    width: 671px;
    height: 74px;
    position: absolute;
    left: 651px;
    top: 510px;
}
#section01 .orange>div {
    transition: all 1s;
    position: absolute;
}
#section01 .orange>div:nth-child(1) {
    left: 0;
    top: 0;
    width: 0;
    height: 74px;
    background: url("../img/common/main/orange_03.png") no-repeat left top;
}
#section01 .orange.on>div:nth-child(1) {
    width: 651px;
    transition-delay: 1s;
}
#section01 .marks {
    width: 625px;
    height: 138px;
    position: absolute;
    left: 636px;
    top: 468px;
    background: url("../img/common/main/title_03.png") no-repeat left top;
    opacity: 0;
    transition: all 1s;
    transform: translate(0, 100px);
}
#section01 .marks.on {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: 2s;
}
#section01 .scrolldown {
    width: 88px;
    height: 64px;
    background: url("../img/common/scrolldown_03.png") no-repeat left top;
    position: absolute;
    left: 923px;
    top: 887px;
}
#section02 {
    background: url("../img/common/bg02.png")no-repeat center top;
}
#section02 .leftside {
    width: 13px;
    height: 173px;
    background: url("../img/common/section02/left_side_03.png") no-repeat left top;
    position: absolute;
    left: 77px;
    top: 404px;
}
#section02 .photo {
    width: 738px;
    height: 519px;
    background: url("../img/common/section02/photo_03.png") no-repeat left top;
    position: absolute;
    left: 293px;
    top: 230px;
}
#section02 .line {
    width: 211px;
    height: 1px;
    background: url("../img/common/section02/line.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 253px;
}
#section02 .sentence {
    width: 325px;
    height: 19px;
    background: url("../img/common/section02/sentence.png") no-repeat left top;
    position: absolute;
    left: 1258px;
    top: 245px;
}
#section02 .title {
    width: 619px;
    height: 315px;
    background: url("../img/common/section02/title_11.png") no-repeat left top;
    position: absolute;
    left: 964px;
    top: 293px;
    z-index: 100;
}
#section02 .orange {
    width: 617px;
    height: 90px;
    background: url("../img/common/section02/orange_13.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 564px;
}
#section02 .button {
    width: 196px;
    height: 41px;
    background: url("../img/common/section02/button_14.png") no-repeat left top;
    position: absolute;
    left: 1387px;
    top: 686px;
    transition: all .8s;
}
#section02 .button:hover {
    width: 196px;
    height: 41px;
    background: url("../img/common/button_hover_18.png") no-repeat left top;
    position: absolute;
    left: 1387px;
    top: 686px;
}
#section02 .button>a {
    display: block;
    width: 100%;
    height: 100%}
#section02 .scrolldown {
    width: 88px;
    height: 64px;
    background: url("../img/common/scrolldown02_03.png") no-repeat left top;
    position: absolute;
    left: 923px;
    top: 887px;
}
#section03 {
    background: url("../img/common/bg02.png")no-repeat center top;
}
#section03 .leftside {
    width: 14px;
    height: 236px;
    background: url("../img/common/section03/left_side_03.png") no-repeat left top;
    position: absolute;
    left: 77px;
    top: 372px;
}
#section03 .photo {
    width: 738px;
    height: 519px;
    background: url("../img/common/section03/photo_03.png") no-repeat left top;
    position: absolute;
    left: 293px;
    top: 230px;
}
#section03 .line {
    width: 312px;
    height: 1px;
    background: url("../img/common/section03/line.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 253px;
}
#section03 .sentence {
    width: 224px;
    height: 17px;
    background: url("../img/common/section03/sentence.png") no-repeat left top;
    position: absolute;
    left: 1359px;
    top: 245px;
}
#section03 .title {
    width: 587px;
    height: 313px;
    background: url("../img/common/section03/title_11.png") no-repeat left top;
    position: absolute;
    left: 996px;
    top: 292px;
    z-index: 100;
}
#section03 .orange {
    width: 617px;
    height: 90px;
    background: url("../img/common/section03/orange_13.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 564px;
}
#section03 .button {
    width: 196px;
    height: 41px;
    background: url("../img/common/section03/button_14.png") no-repeat left top;
    position: absolute;
    left: 1387px;
    top: 686px;
    transition: all .8s;
}
#section03 .button:hover {
    width: 196px;
    height: 41px;
    background: url("../img/common/button_hover_18.png") no-repeat left top;
    position: absolute;
    left: 1387px;
    top: 686px;
}
#section03 .button>a {
    display: block;
    width: 100%;
    height: 100%}
#section03 .scrolldown {
    width: 88px;
    height: 64px;
    background: url("../img/common/scrolldown02_03.png") no-repeat left top;
    position: absolute;
    left: 923px;
    top: 887px;
}
#section04 {
    background: url("../img/common/bg02.png")no-repeat center top;
}
#section04 .leftside {
    width: 16px;
    height: 142px;
    background: url("../img/common/section04/left_side_03.png") no-repeat left top;
    position: absolute;
    left: 77px;
    top: 419px;
}
#section04 .photo {
    width: 738px;
    height: 519px;
    background: url("../img/common/section04/photo_03.png") no-repeat left top;
    position: absolute;
    left: 293px;
    top: 230px;
}
#section04 .line {
    width: 343px;
    height: 1px;
    background: url("../img/common/section04/line.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 253px;
}
#section04 .sentence {
    width: 193px;
    height: 17px;
    background: url("../img/common/section04/sentence.png") no-repeat left top;
    position: absolute;
    left: 1390px;
    top: 245px;
}
#section04 .title {
    width: 587px;
    height: 314px;
    background: url("../img/common/section04/title.png") no-repeat left top;
    position: absolute;
    left: 996px;
    top: 291px;
    z-index: 100;
}
#section04 .orange {
    width: 617px;
    height: 90px;
    background: url("../img/common/section04/orange.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 564px;
}
#section04 .button {
    width: 202px;
    height: 41px;
    background: url("../img/common/section04/button.png") no-repeat left top;
    position: absolute;
    left: 1381px;
    top: 686px;
    transition: all .8s;
}
#section04 .button:hover {
    width: 202px;
    height: 41px;
    background: url("../img/common/button_hover02_07.png") no-repeat left top;
    position: absolute;
    left: 1381px;
    top: 686px;
}
#section04 .button>a {
    display: block;
    width: 100%;
    height: 100%}
#section04 .scrolldown {
    width: 88px;
    height: 64px;
    background: url("../img/common/scrolldown02_03.png") no-repeat left top;
    position: absolute;
    left: 923px;
    top: 887px;
}
#section05 {
    background: url("../img/common/bg02.png")no-repeat center top;
}
#section05 .leftside {
    width: 14px;
    height: 242px;
    background: url("../img/common/section05/left_side_03.png") no-repeat left top;
    position: absolute;
    left: 77px;
    top: 369px;
}
#section05 .photo {
    width: 738px;
    height: 519px;
    background: url("../img/common/section05/photo_03.png") no-repeat left top;
    position: absolute;
    left: 293px;
    top: 230px;
}
#section05 .line {
    width: 439px;
    height: 1px;
    background: url("../img/common/section05/line.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 304px;
}
#section05 .sentence {
    width: 157px;
    height: 17px;
    background: url("../img/common/section05/sentence.png") no-repeat left top;
    position: absolute;
    left: 1481px;
    top: 296px;
}
#section05 .title {
    width: 546px;
    height: 213px;
    background: url("../img/common/section05/title.png") no-repeat left top;
    position: absolute;
    left: 1092px;
    top: 343px;
    z-index: 100;
}
#section05 .orange {
    width: 674px;
    height: 90px;
    background: url("../img/common/section05/orange.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 513px;
}
#section05 .button {
    width: 179px;
    height: 41px;
    background: url("../img/common/section05/button.png") no-repeat left top;
    position: absolute;
    left: 1459px;
    top: 635px;
    transition: all .8s;
}
#section05 .button:hover {
    width: 179px;
    height: 41px;
    background: url("../img/common/button_hover03_03.png") no-repeat left top;
    position: absolute;
    left: 1459px;
    top: 635px;
}
#section05 .button>a {
    display: block;
    width: 100%;
    height: 100%}
#section05 .scrolldown {
    width: 88px;
    height: 64px;
    background: url("../img/common/scrolldown02_03.png") no-repeat left top;
    position: absolute;
    left: 923px;
    top: 887px;
}
#section06 {
    background: url("../img/common/bg02.png")no-repeat center top;
}
#section06 .leftside {
    width: 14px;
    height: 218px;
    background: url("../img/common/section06/left_side_03.png") no-repeat left top;
    position: absolute;
    left: 77px;
    top: 381px;
}
#section06 .photo {
    width: 738px;
    height: 519px;
    background: url("../img/common/section06/photo_03.png") no-repeat left top;
    position: absolute;
    left: 293px;
    top: 230px;
}
#section06 .line {
    width: 418px;
    height: 1px;
    background: url("../img/common/section06/line.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 304px;
}
#section06 .sentence {
    width: 173px;
    height: 17px;
    background: url("../img/common/section06/sentence.png") no-repeat left top;
    position: absolute;
    left: 1465px;
    top: 296px;
}
#section06 .title {
    width: 466px;
    height: 213px;
    background: url("../img/common/section06/title.png") no-repeat left top;
    position: absolute;
    left: 1171px;
    top: 343px;
    z-index: 100;
}
#section06 .orange {
    width: 674px;
    height: 90px;
    background: url("../img/common/section06/orange.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 513px;
}
#section06 .button {
    width: 179px;
    height: 41px;
    background: url("../img/common/section06/button.png") no-repeat left top;
    position: absolute;
    left: 1459px;
    top: 635px;
    transition: all .8s;
}
#section06 .button:hover {
    width: 179px;
    height: 41px;
    background: url("../img/common/button_hover03_03.png") no-repeat left top;
    position: absolute;
    left: 1459px;
    top: 635px;
}
#section06 .button>a {
    display: block;
    width: 100%;
    height: 100%}
#section06 .scrolldown {
    width: 88px;
    height: 64px;
    background: url("../img/common/scrolldown02_03.png") no-repeat left top;
    position: absolute;
    left: 923px;
    top: 887px;
}
#section07 {
    background: url("../img/common/bg02.png")no-repeat center top;
}
#section07 .leftside {
    width: 14px;
    height: 240px;
    background: url("../img/common/section07/left_side_03.png") no-repeat left top;
    position: absolute;
    left: 77px;
    top: 369px;
}
#section07 .photo {
    width: 738px;
    height: 519px;
    background: url("../img/common/section07/photo_03.png") no-repeat left top;
    position: absolute;
    left: 293px;
    top: 230px;
}
#section07 .line {
    width: 325px;
    height: 1px;
    background: url("../img/common/section07/line.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 304px;
}
#section07 .sentence {
    width: 266px;
    height: 18px;
    background: url("../img/common/section07/sentence.png") no-repeat left top;
    position: absolute;
    left: 1372px;
    top: 296px;
}
#section07 .title {
    width: 532px;
    height: 214px;
    background: url("../img/common/section07/title.png") no-repeat left top;
    position: absolute;
    left: 1106px;
    top: 342px;
    z-index: 100;
}
#section07 .orange {
    width: 674px;
    height: 90px;
    background: url("../img/common/section07/orange.png") no-repeat left top;
    position: absolute;
    left: 1031px;
    top: 513px;
}
#section07 .button {
    width: 179px;
    height: 41px;
    background: url("../img/common/section07/button.png") no-repeat left top;
    position: absolute;
    left: 1459px;
    top: 635px;
    transition: all .8s;
}
#section07 .button:hover {
    width: 179px;
    height: 41px;
    background: url("../img/common/button_hover03_03.png") no-repeat left top;
    position: absolute;
    left: 1459px;
    top: 635px;
}
#section07 .button>a {
    display: block;
    width: 100%;
    height: 100%}